---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Avenir, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$smaller-font-size:  $base-font-size * 0.92;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;
$section-padding-top: 4px;

$text-color:       #1D1D1D;
$background-color: #FDFDFD;
$brand-color:      #0A70F5;
$selection-color:  #3984E6;

$grey-color:       #7A7A7A;
$grey-color-light: #999999;
$grey-color-dark:  #626262;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "exp"
;
