<tr>
  <th colspan=2>{{ include.title }}</th>
</tr>

{% for post in site.categories[include.category] %}
  <tr>
    <td class="exp-date">
      {% if post.start_date %}
        {{ post.start_date | date: "%Y" }}
        {% if post.end_date %}
           - {{ post.end_date | date: "%Y" }}
        {% elsif post.duration %}
          <br />{{ post.duration }}
        {% endif %}
      {% else %}
        {{ post.title }}
      {% endif %}
      {% if post.contract_type %}
        <br />{{ post.contract_type }}
      {% endif %}
    </td>
    <td>

      {% if post.title and post.start_date %}
        <p class="exp-title">{{ post.title }}</p>
      {% endif %}

      {% if post.content %}
        <p class="exp-content">{{ post.content }}</p>
      {% endif %}

      {% if post.job_description %}
        <p class="exp-description">{{ post.job_description }}</p>
      {% endif %}

      {% if post.link %}
        {% capture link %}
          {% if post.link_placeholder %}
            {{ post.link_placeholder }}
          {% else %}
            {{ post.link | remove: 'http://' | remove: 'https://' | remove: 'www.' }}
          {% endif %}
        {% endcapture %}
        <p class="exp-link"><a href="{{ post.link }}">{{ link }}</a></p>
      {% endif %}

    </td>
  </tr>
{% endfor %}
