<header class="site-header">

  <div class="wrapper">

    <div class="site-header-left">
      <div class="site-title">{{ site.title }}</div>
      <div class="site-subtitle">{{ site.t.software_engineer }}</div>
      <div class="site-details"><span id="age"></span> {{ site.t.years_old }} - Paris, France</div>
      <div class="site-details">{{ site.email }}</div>
      <div class="site-details">
        <a href="{{ site.github }}">Github</a>,
        <a href="{{ site.linkedin }}">Linkedin</a>
      </div>
    </div>

  </div>

</header>
