<header class="site-header">

  <div class="wrapper">

    <div class="site-header-left">
      <div class="site-title">{{ site.title }}</div>
      <div class="site-subtitle">{{ site.t[page.lang].software_engineer }}</div>
      <div class="site-details"><span id="age"></span> {{ site.t[page.lang].years_old }} - Paris 14e</div>
    </div>

    <div class="site-header-right">
      <div class="site-lang">
        {% if page.lang == "en" %}
          <a href="/fr" >Français</a>
        {% else if page.lang == "fr" %}
          <a href="/" >English</a>
        {% endif %}
      </div>
    </div>

  </div>

</header>
