.exp-date, .skills-title {
    vertical-align: top;
    font-size: $small-font-size;
    color: $grey-color;
    width: 88px;
}

.exp-title {
    font-size: $smaller-font-size;
    font-weight: bolder;
}

.exp-content, .skills-content {
}

.exp-description {
    color: $grey-color-dark;
    font-style: italic;
}

.exp-link {
    font-size: $small-font-size;
}
