.exp-date {
    font-size: $small-font-size;
    color: $grey-color;
    width: 88px;
}

.exp-title {
}

.exp-content {
}

.exp-description {
    color: $grey-color-dark;
    font-style: italic;
}

.exp-link {
    font-size: $small-font-size;
}
