<header class="site-header">

  <div class="wrapper">

    <div class="site-title">{{ site.title }}</div><br style="clear: both" />
    <div class="site-subtitle">{% t global.software_engineer %}</div><br style="clear: both" />

    <nav class="site-nav">
      <div class="site-lang">
        {% if site.lang == "en" %}
          {% capture link1 %}{{ site.baseurl_root }}fr{{ page.url }}{% endcapture %}
          <a href="{{ link1 }}" >{% t global.french %}</a>
        {% else if site.lang == "en" %}
          {% capture link2 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
          <a href="{{ link2 }}" >{% t global.english %}</a>
        {% endif %}
      </div>
    </nav>

  </div>

</header>
